/* Fontes importadas do Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Josefin+Slab:ital,wght@0,500;1,200;1,300;1,400&display=swap');

/* Íncones importados do Fonts Awesome*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none; /* Retira a bolinha da frente de links */
    text-decoration: none; /* Retinha o sublinhado dos links */
}

.hamburguer {

    width: 2rem;
    height: 2rem;
    position: fixed; /*A posição fixa faz o hambúrguer "flutuar" na tela.*/
    z-index: 100;
    right: 2rem;
    top: 2rem;

    /* Estes comandos fazem com que as linhas do hambúrguer sejam espalhadas verticalmente (coluna), de maneira individual para cada linha (por isso flex) e com um espaçamento eventual. */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 2s;

}

.hamburguer.show_menu {
    right: 16rem;
}


.line {
    width: 100%;
    height: 5%;
    background-color: #ffffff;
    /* A sombra é definida por distância à direita, esquerda, borrado e cor, respectivamente. */
    box-shadow: 0.1rem 0.1rem 1px #000000;
}

#line1.show_menu{

    transform: rotate(45deg) translate(0.15rem, 0.65rem);
    background-color:  #200122;
    transition: 2s;

}


#line2.show_menu {

    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#line3.show_menu {

    transform: rotate(-45deg) translate(-0.15rem, -0.65rem);
    background-color:  #200122;
    transition: 2s;
}


.hamburguer span{

    position: absolute;
    left: 3.5rem;
    font-family: "Baloo Da 2";
    font-size: 18px;
    color: #ffffff;
    background-color:  #723d75;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
}

#span:hover {

    background-color: #ffffff;
    color: #723d75;
}

#span.show_menu {

    opacity: 100;
    transition: 2s;
}

header{

    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* ver anotação do .banner */
    position: relative;
}

.img-wrapper {

    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);

}

.img-wrapper img {

    width: 100%;
    height: 100%;
    /*Object-fit: cover faz com que a imagem não se modifique ao reduzir a tela.*/
    object-fit: cover;
    opacity: 50%;
    animation: zoom 10s;
}

/* Criação da animação - zoom da imagem */

@keyframes zoom {

    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }

}

.banner {
    /* Para o funcionamento da posição absoluta, o banner precisa
    estar dentro de um posicionamento relativo, no caso, o header. */
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    /* Caso o Google Fonts saia do ar, a fonte importada é desativada, logo é importante deixar uma fonte reserva (serif) */
    font-family: "Josefin Slab", serif;
    font-weight: 200px;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.5);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 2s;
}

.banner p{

    font-family: "Josefin Slab",serif;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    animation: moveBanner 4s;
}

.banner button {

    font-family: "Baloo Da 2" serif;
    font-size: 1.5rem;
    color: #fffffff5;
    background: #200122;
    background: -webkit-linear-gradient(to right, #6f0000, #200122); 
    background: linear-gradient(to right, #6f0000, #200122);
    padding: 1rem 2.5rem;
    border: 0;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 6s;

}

@keyframes moveBanner{

    0%{
        transform: translateY(30rem) rotate(-15deg);
        opacity: 50%;
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 100%;
    }

}

/* hover é uma classe que identifica uma ação, um evento. Exemplo: quando o mouse passa em cima, muda a opacidade, a cor da fonte.*/
.banner button:hover{

    color: black;
    
}

.sidebar {
    
    width: 20rem;
    height: 100vh; /* 100vh é a mesma coisa que 100% da visualização da tela em qualquer resolução. */
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 2s;

}

.sidebar.show_menu {
    right: 0;

}


.menu {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{

    text-align: center;
    margin-bottom: 1rem;
}

.menu-link{

    font-family: "Baloo Da 2",serif;
    font-size: 30px;
    color:  #723d75;
    transition: color 1s;
    
}



/* O link que sofrer o efeito hover (mouse por cima) vai... */
.menu-link:hover{

    color: #6f0000;

}

.social_media {

    background-color: #6f000000;
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.social_media i{

    height: 2.5rem;
    width: 2.5rem;
    font-size: 40px;
    transition: color 1s;
}

.social_media i:hover{

    color:  #6f0000;
}